body {
    text-align: center;
    background-color: whitesmoke;
    margin: 0px;
}

.container {
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    background-color: gainsboro;
    min-width: 300px;
    max-width: 1000px;
    min-height: 300px;
    width: 80%;
    font-size: 18pt;
}

.btns {
    min-height: 0%;
}

#S {
    text-align: left;
}

#Q {
    text-align: left;
    font-style: italic;
}

#answers {
    text-align: left;
}

.rAnswHide {
    display: none;
}

button {
    width: 30%;
    display: inline;
    height: 80px;
    font-size: 18pt;
}

input {
    width: 25px;
    height: 25px;
}

input[type="text"] {
    width: 50%;
    height: 25px;
    font-size: 18pt;
}

#greyProgress {
    width: 100%;
    background-color: #ddd;
}

#greenBar {
    width: 50%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}